* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}


/*first-section*/
.first-section {
  background-color: #1f2937;
  color: white;
}

.header h3 {
  font-size: 24px;
  margin-left: 128px;
  color: #f9faf8;
}

ul {
  font-size: 14px;
  display: flex;
  gap: 32px;
  list-style-type: none;
  margin-right: 128px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 128px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  margin-left: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 560px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  width: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  background-color: #1963d3;
  color: #f9faf8;
  border: none;
}

img {
  margin-left: 32px;
  margin-right: 128px;
  width: 560px;
}


/*second-section*/
h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 32px;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 128px;
  width: auto;
}

.square-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 160px;
  text-align: center;
}

.square {
  border: #3882f6 solid;
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

/*third-section*/
.third-section {
  background-color: #e5e7eb;
  padding: 128px 256px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.author {
  text-align: end;
  font-weight: bold;
  font-size: 20px;
}

/*fourth-section*/
.cta-container {
  background-color: #3882f6;
  margin: 128px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 64px 128px;
  color: #e5e7eb;
}

.cta h4 {
  font-size: 24px;
}

.cta-button {
  border: solid #e5e7eb;
}